@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.body__landing {
    font-family: 'Cormorant Garamond', serif;
    background-image: url(../pic/fon/fonDog2.png);
    background-repeat: no-repeat;
    background-size: 100%;    
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;
}

.header__logo {
    display: block;
    margin-right: 20px;   
}   

.header__list{
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style-type: none;
    font-size: 18px;   
}

.header__link:hover {
    color:  #ff0404;
}

.header__link{
    color: white;
    text-decoration: none;
    transition: .4s;
}

.page-header {
    display: flex;
    justify-content: start;
    height: 120px;
    align-items: start;
    flex-wrap: wrap;
    align-content: center;
}

.main-menu li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 12px;
}

.container__slogan {
    width: 300px;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 15px;
} 

.container__btn {
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 32px;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(177, 175, 175, 0.184);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 2px;
    transition: .4s;
}

.container__btn:hover {
    color: #fc4f4f;
}

.container__btn2 {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 4px 7px;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid rgb(26, 147, 26);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.container__btn2:hover {
    color: #fc4f4f;  
}

.findapet_btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid  #ff0404b8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.findapet_btn:hover {
    color: #fc4f4f;
}

.findapet_btn_back {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 680px;
    margin-bottom: 10px;;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 5px;
    font-size: 18px;
    border-radius: 12px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.h3_findapet {
    text-align: center;
    margin-bottom: 60px;
    margin-top: -100px;
    font-size: 25px;
}

.items {
    display: flex;
    justify-content: start;
    height: 100px;
    align-content: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.main__text {
    margin-top: 130px;
    flex-basis: 700px; 
}

.main__title {
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.main__desk {
color: black;
flex-basis: 100px;
margin-right: 250px;
max-width: 500px;
font-size: 20px;
line-height: 1.5;
}
.main__image {
    flex-basis: calc(80% - 200px - 500px);
}

.main__img{
    width: 100%;
}

.second__title {
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.second__desk {
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 40px;
}

.cards {
    background-color: rgba(161, 161, 161, 0.086);
    margin-top: 30px;
}

.card1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
}

.card2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.card__item {
    background: linear-gradient(25deg, rgba(255, 255, 255, 0.354)10%, rgba(224, 224, 224, 0.656), rgba(33, 162, 13, 0.407),
     rgba(26, 147, 26, 0.799));
    box-shadow: 0px 5px 4px rgba(0, 0, 0, .25);
    border-radius: 15px;
    padding: 10px;
    flex-basis: 20%;
    box-sizing: border-box;   
}

.card__cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.card__img {
    position: absolute;
    left: 50%;
    right: 50%;
    width: 100%;
    height: 390px;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.card__nick {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 3px;
    padding-top: 10px;
}

.button2 {
    text-align: center;
}

h2 {
    color: black;
}

.icon__name {
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.icon {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin: 40px;
}

.icon2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 90px;
    margin: 40px;
}

.donation {
    background-color: rgba(161, 161, 161, 0.086);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.donation__img {
    width: 100%;
    align-self: center; 
}

.donation__image {
    flex-basis: calc(90% - 400px - 500px);
}

.donation__info {
    flex-basis: 400px;
    text-align: left;
    line-height: 27px;
}

.bank_card {
    display: inline-block;
    border-radius: 10px;
    padding: 3px 6px 3px 7px;
    font-size: 17px;
    background-color:  rgba(26, 147, 26, 0.356); 
    color: rgb(0, 0, 0);
}

.bank_link {
    text-decoration: none;
    color: rgb(26, 147, 26);
    transition: .2s;
}

.bank_link:hover {
    color: #fc4f4f;
}

.footer {
    background-image: url(../pic/fon/fon4.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.footer__img {
    width: 30%;
    margin-left: 150px; 
}

.footer__contacts {
    flex-basis: 600px;
    align-self: center;
    margin-left: 350px;
}

.footer__adress {
    margin-left: 50px;
    flex-basis: 500px;
    align-self: center;
}

.bold {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    color: white;
}

.grey {
    color: rgb(207, 207, 207);
}

.findapet_body {
   
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Cormorant Garamond', serif;
}

.h1__animals {
    position: absolute;
    text-align:center;
    top: 10px;
    left: 33%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Cormorant Garamond', serif;
    padding: 30px;
    font-size: 30px;
    font-weight: 900;
}

.findapet_main {
    display: flex;
    justify-content: space-evenly;
}

.findapet__img {
    position: relative;
    top: -170px;
    width: 60%;
    left: 230px;
}

.forms {
    position: relative;
    top: -95px;
    flex-basis: 1900px;
    align-self: center;
    left: 100px; 
}

.findapet__h3 {
    text-align: center;
    margin: 50px;
    font-size: 25px;
}

.findapet__p {
    line-height: 28px;
    max-width: 400px;
}

.findapet__pp {
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 230px;
    text-align: center;
    background-color: rgba(161, 161, 161, 0.126);
    line-height: 30px;
    padding: 4px 6px;
    border-radius: 20px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 2px solid rgb(26, 147, 26);
}  

.pp_findapet {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.p1_findapet {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 40px;
}

.adoptme {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text__adoptme {
    background-color: rgba(211, 211, 211, 0.154);
    width: 300px;
    height: 400px;
}

.avatar_adoptme {
    display: flex;
}

.ava_adoptme{
    width: 15%;
    margin-top: 80px;
    margin-left: 20px;
}

.ava_name {
   align-self: center;
   margin-top: 80px;
   margin-left: 10px;
}

.p1_avatar {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.ava_btn {
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 2px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 4px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.ava_btn:hover {
    color: #fc4f4f;
}

.foto__adoptme {
    background-color: rgba(26, 147, 26, 0.114);;  
    width: 500px;
    height: 400px;
    position: relative;
}
.next_adopt {
    position: absolute;
    right: 302px;
    top: 1250px;
}

.li_smth {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 16px;
}

.li_smth a {
   margin-top: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 1px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 2px;
    font-size: 16px;
    border-radius: 12px;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
}

.li_smth .a_contact {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 1px;
    padding-left: 6px; 
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    border-radius: 12px;
    border: 1.5px solid #ff0404b8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.a_contact_others:hover {
    color: #fc4f4f;
}

.img_boris {
    width: 37%;
    position: absolute;
    bottom: 10px;
    right: 150px;  
}

.frame {
    display: flex; 
    justify-content: space-evenly; 
}

.frame__item {
    background: rgba(189, 189, 189, 0.199) ;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.561);
    border-radius: 10px;
    padding: 1px;
    flex-basis: 22%;
    box-sizing: border-box;
}

.frame__cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.frame__img {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.one_word_div {
  color: rgb(34, 132, 34); 
  font-weight: bold;
  margin-left: 10px;
}

.body__about_us {
    font-family: 'Cormorant Garamond', serif;
}

.header_about_us {
    background-image: url(../pic/fon/about_us_fon2.jpg);
    background-size: cover;
    height: 300px;
}

.about_us {
    display: flex;
    justify-content: center;
    margin-left: 110px;
    gap: 100px;  
}
.about_us__info {
    margin-top: 10px;
    max-width: 500px;   
}

.about_us__p1 {
    font-size: 25px;
}

.about_us__p2 {
    margin-top: 20px;
    font-size: 18px;
}

.about_us__img {
     width: 55%;
}

.about_us__btn {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 1px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.about_us__btn:hover {
    color: #fc4f4f;
}

.cards_main_about_us {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 60px;   
}

.card_about_us {
    width: 300px;
    align-self: center;
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
    background-color: rgb(248, 248, 248);
    margin-top: 50px;
}

.p1_about_us {
    font-size: 20px;
    font-weight: bold;
}

.p2_about_us {
    font-size: 14px;
    padding-top: 5px;
}

.h3_form_about_us {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 100;
}

.textarea_about_us {
    margin-top: 20px;
    margin-left: 380px;
    width: 680px;
    height: 100px;
}

.input_about_us {
    margin-top: 0px;
    margin-left: 380px;
    width: 320px;
    height: 30px;
    margin-right: 0px;

}

.input_about_us2 {
    margin-top: 20px;
    margin-left: 30px;
    width: 320px;
    height: 30px;
}

::placeholder { 
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    padding-left: 10px;
}

input:focus,
textarea:focus {
    outline:none;
    border: 1px solid rgb(189, 189, 189);
}

.map_about_us {
    width: 680px;
    margin-left: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__about_us {
    position: relative;
}

.about_us__btn_back {
    position: absolute;
    top: 180px;
	  left: 0px;
    font-size: 20px;
    margin-left: 380px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.about_us__btn_back:hover {
    color: #fc4f4f;
}

.fon1_volonteer {
    position: relative;
}

.h1_volonteer {
    position: absolute;
    top: 57px;
    text-align: center;
    width: 1500px;
}

.p_volonteer {
    position: absolute;
    top: 25px;
    text-align: center;
    width: 1500px;
    font-size: 19px;;
}

.body__volonteer {
    font-family: 'Cormorant Garamond', serif;
}

.steps_cards_volonteer {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: -40px;
}

.step1_volonteer {
    background-color: rgb(235, 235, 235);
    width: 350px;
    height: 350px;
}

.step2_volonteer {
    background-color: #ffffffb8;
    width: 350px;
    height: 350px;
}

.step3_volonteer {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
}

.step4_volonteer {
    background-color: rgba(126, 176, 126, 0.378);
    width: 350px;
    height: 350px;
}

.h3_step_volonteer {
    margin: 10px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 900;
}

.p_step_volonteer {
    margin: 10px;
    margin-top: 40px;
    font-size: 19px;
}

.h3_text2 {
    padding-top: 22px; !important
}

.next_btn_volonteer {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(216, 215, 215, 0.195);
    border: 1.5px solid #fc4f4fb8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    margin: 10px;
    transition: .2s;
}

.next_btn_volonteer:hover {
    color: #fc4f4f;
    border-color:#fc4f4f;
}

.btn2_volonteer {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.195);
    border: 1.5px solid #000000b8;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    margin: 10px;
}

.volonteer_org {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    margin-top: 350px;
    max-width: 900px;
}

.img_org {
    width: 100%;
    padding: 0px;
    margin-left: -0px;
    position: relative;
    margin-left: -30px;
    padding-bottom: 30px;
}

.h2_main_name_org {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
}

.h3_names_org {
    position: relative;
    margin-left: 30px;
    top: 2px;
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: rgb(66, 66, 66);
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
}

.p_names_org {
    margin-top: 5px;
    margin-bottom: 0px;
}

.icon_org {
    position: absolute;
    width: 25px;
    align-items: center;
}

.next_btn_volonteer2 {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 4px;
    padding-bottom: 3px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.195);
    border: 1.5px solid rgba(126, 176, 126, 0.888);
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 0px;
    margin-left: 410px;
    transition: .2s;
}

.next_btn_volonteer2:hover {
    color: #fc4f4f;
}

.main_info_findapet {
    display: flex;
    max-width: 1300px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
}

.h4__info {
    text-align: center;
    margin-top: 20px;
}

.p__info {
    text-align: center;
    font-size: 16px;
    max-width: 500px;
    margin-top: 10px;
}

.priyuti {
    position: relative;
    top: 50px;
}

.pic {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 70px;
}

.picnumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

   .numb__findapet {
    margin-left: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(74, 74, 74);
}

.pic_btn {
    font-weight: 400;
    text-decoration: none;
    color: rgb(249, 249, 249);
    display: inline-block;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    font-size: 18px;
    border-radius: 22px;
    background-color: #fc4f4f;
    letter-spacing: 1px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 220px;
    text-align: center;
    transition: .2s;
}

.donate {
    font-size: 24px;
    font-weight: 600;
}

.donate__body {
   background-repeat: no-repeat;
   background-size: 100%;
   font-family: 'Cormorant Garamond', serif;
}

.img__donate {
 position: relative;
}

.h1_donation {
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 40px;
    color: rgb(0, 0, 0);
}

.p_donation {
   position: absolute; 
   top: 70px;
   left: 150px;
   font-size: 26px;
}

.a_donation {
    position: absolute;
    top: 120px;
    left: 155px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 6px;
    padding-bottom: 7px;
    font-size: 25px;
    border-radius: 22px;
    background-color: #efefef3c;
    border: 1.5px solid  #fc4f4f;
    letter-spacing: 1px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    transition: .2s;
}

.a_donation:hover {
    color: #fc4f4f;
}

.h2__donation {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 30px;
}

.types__donate {
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: space-evenly;
    font-weight: 500;
}

.text_donate {
   display: flex;
   justify-content: center;
   gap: 40px;
}

.p_text_donate {
   align-self: flex-start;
   flex-basis: 25%;
   padding: 20px;
   font-size: 19px;
}

.help_btn_donate {
    margin-top: 20px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    font-size: 19px;
    border-radius: 22px;
    background-color: #efefef3c;
    border: 1.5px solid  #fc4f4f;
    letter-spacing: 1px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin-bottom: 50px;
    transition: .2s;
}

.help_btn_donate:hover {
    color: #fc4f4f;
}

.boriska_body {
    font-family: 'Cormorant Garamond', serif;
}

.boriska_header {
    background-image: url(/pic/Boriska1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1500px;
    height: 650px;
}

.boriska_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin-left: -670px;
    text-align: center;

}

.h1_boriska {
    font-size: 90px;
    font-weight: 100; 
    margin-bottom: 10px;
    margin-top: -15px;
}
.p_boriska_info {
    line-height: 27px;
}

.p1_boriska {
text-align: center;
}

.p2_boriska {
    max-width: 230px;
}

.block_boriska {
    height: 30px;
    width: 1500px;
    background: rgba(161, 161, 161, 0.1);
    padding-top: 10px;
    color: rgba(186, 186, 186, 0.657);
    padding-left: 5px;
}

.part1_boriska {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: -50px;  
}

.text_boriska {
    max-width: 400px;  
}

.img_boriska {
    width: 400px;
    margin-bottom: 30px;
}

.img_boriska2 {
    width: 180px;
    margin-top: 10px;
}

.block3_boriska {
    display: flex;
    margin-right: 10px;
    margin-top: 80px;
    justify-content: center;
    gap: 10px;
    align-items: center; 
}

.a_boriska {
    margin-right: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1px solid #fc4f4f;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: 'Cormorant Garamond', serif;
    align-self: center; 
    transition: .2s;
}

.a_boriska:hover {
    color:#fc4f4f;
}

.footer_boriska {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    background-color:rgba(161, 161, 161, 0.1);
    margin-top: 50px;
}

.quick_links_b {
     margin-left: 15px;
}

.important_info_b {
    text-align: right;
    align-self: flex-end;
    width: 415px;
    margin-left: 650px;
}

.a_footer_b {
    text-decoration: none;
    color: rgb(82, 82, 82);
    display: block;
}

.a_footer_b:hover {
    color:#fc4f4f;
}

.p_boriska {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(82, 82, 82);   
}

.lorem_b {
    font-style: italic;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: rgb(82, 82, 82);
    font-size: 15px;
}

.important_info_b .lorem1 {
    font-size: 20px;
}

.body_shop {
    font-family: 'Cormorant Garamond', serif;
    margin: 0px;
}

.header_shop {
    background-image: url(/pic/fonn3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    position: relative;
}

.welcome_shop {
   width: 550px;
   height: 200px;
}

.h1_header_shop {
   padding-top: 70px;
   padding-left: 270px;
   font-size: 30px;
}

.a_header_shop {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.581);
    border: 1.5px solid #fc4f4f;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 30px;
    margin-left: 270px;
    word-spacing: 1px;
    transition: .2s;
}

.a_header_shop:hover {
color: #fc4f4f;
}

.gallery_shop {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1500px;
    margin-top: 70px;
    gap: 30px;
    margin-left: 40px;
}

.gallery_item1 {
    background-image: url(/pic/shop/sale00.jpeg);
    background-size: cover;
    width: 400px;
    height: 300px;
    position: relative;  
}

.gallery_item1:after {
  content: '';
  background: rgba(255, 255, 255, 0.313);
  display: block;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 0;
  left: 0;
  z-index: 0;
}

.h3_main_shop1 {
    font-size: 35px;
    width: 100px;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-top: 110px;
}

.p_main_shop1 {
    z-index:2; 
    position: relative;
    font-size: 35px;
    color: #fc4f4f;
    font-weight: 900;
    margin-top: -40px;
    margin-left: 220px;
}

.a_main_shop {
    z-index: 3;
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.169);
    border: 1.5px solid #fc4f4f;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 5px;
    margin-left: 235px;
    transition: .2s;
}

.a_main_shop:hover {
    color: #fc4f4f;
}

.gallery_item2 {
    background-image: url(/pic/shop/dog3.jpeg);
    background-size: cover;
    width: 500px;
    height: 300px;
    position: relative;
}

.gallery_item2:after {
    content: '';
    background: rgba(255, 255, 255, 0.201);
    display: block;
    position: absolute;
    width: 500px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 0;
}

.h3_main_shop {
    font-size: 30px;
    position: relative;
    z-index: 1;
    margin: 10px; 
}

.p_main_shop {
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin: 10px;
}

.a_main_shop1 {
    z-index: 3;
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.201);
    border: 1.5px solid #fc4f4f;
    font-family: 'Cormorant Garamond', serif;
    margin: 10px;
    transition: .2s;
}

.a_main_shop1:hover {
    color: #fc4f4f;
}

.gallery_item3 {
    background-image: url(/pic/shop/cat1.jpeg);
    background-size: cover;
    width: 400px;
    height: 300px;
    position: relative;
}

.gallery_item3:after{
    content: '';
    background: rgba(255, 255, 255, 0.201);
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 0;
}

.gallery_item4 {
    background-image: url(/pic/shop/bird.png);
    width: 600px;
    height: 300px;
    background-size: 100%;
    position: relative;
}

.gallery_item4:after{
    content: '';
    background: rgba(255, 255, 255, 0.201);
    display: block;
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 0;
}

.gallery_item5 {
    background-image: url(/pic/shop/fish3.jpeg);
    width: 730px;
    height: 300px;
    background-size: 100%;
    position: relative;
}

.gallery_item5:after{
    content: '';
    background: rgba(255, 255, 255, 0.201);
    display: block;
    position: absolute;
    width: 730px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 0;
}

.gallery_item6 {
    background-image: url(/pic/shop/small5.jpeg);
    width: 730px;
    height: 300px;
    background-size: 100%;
    position: relative;
}

.gallery_item6:after{
    content: '';
    background: rgba(255, 255, 255, 0.201);
    display: block;
    position: absolute;
    width: 730px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 0;
}

.gallery_item7 {
    background-image: url(/pic/shop/reptiles.jpeg);
    width: 600px;
    height: 300px;
    background-size: 100%;
    position: relative;
}

.gallery_item7:after{
    content: '';
    background: rgba(255, 255, 255, 0.201);
    display: block;
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 0;
}

.h2_shop {
    text-align: center;
    margin: 50px;
    font-weight: 900;
    font-size: 30px;
}

.gallery_items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #e1e1e132;
}

.img_items {
    margin: 40px;
    max-width: 150px;
    box-shadow: 3px 3px 5px 0px rgba(128, 128, 128, 0.456);
}

.a_items_shop {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: .2s;
}

.a_items_shop:hover {
color: #fc4f4f;
}

.items_shop {
    text-align: center;
    margin-bottom: 20px;
}

.p_items_shop {
    margin-bottom: 10px;
}

.partners_shop {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.img_logo_shop {
    width: 70px;
    margin: 50px;
    background-color: rgba(128, 128, 128, 0.211);
}

.footer_shop {
    align-items: baseline;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    background-color: rgba(188, 188, 188, 0.148);
    padding-top: 10px;
    padding-bottom: 10px;
}

.shop_info {
    display: flex;
    flex-direction: column;
}

.a_footer_shop {
    text-decoration: none;
    color: #000000;
    padding-top: 5px;
    transition: .2s;
}

.a_footer_shop:hover {
   color: #fc4f4f;
}

.info_info {
    display: flex;
    flex-direction: column;
}

.a_info_shop {
    text-decoration: none;
    color: #000000;
    padding-top: 5px;
}

.a_info_shop:hover {
    color: #fc4f4f;
}

.h3_footer_shop {
    margin-bottom: 10px;
}

.p_footer_shop {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shop_info2 {
margin-bottom: 20px;
}

input::placeholder {
    color: #000000;
    padding: 0px;
    opacity: 0.5; 
}

.input_shop {
    padding: 5px;    
}

.btn_shop {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
    border-radius: 10px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 0.5px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.btn_shop:hover {
    color: #fc4f4f;
}

.icon_footer {
    max-width: 25px;
}

.footer_volonteer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #e1e1e132;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h3_volonteer_footer {
margin-bottom: 10px;
}

.info1 {
    display: flex;
    flex-direction: column;
}

.a_volonteet_footer {
text-decoration: none;
color: #000000;
padding-top: 5px;
transition: .2s;
}

.a_volonteet_footer:hover {
color: #fc4f4f;
}

.p_volonteer_footer {
    margin-bottom: 10px;
}

.input_volonteer_footer {
    max-width: 150px;
    padding: 5px;
}

.btn_volonteer_footer {
    margin-left: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
    border-radius: 10px;
    background-color: rgba(216, 215, 215, 0.14);
    border: 1.5px solid #ff0404b8;
    letter-spacing: 0.5px;
    font-family: 'Cormorant Garamond', serif;
    transition: .2s;
}

.btn_volonteer_footer:hover {
color: #fc4f4f;
}
